html {
  font-size: 10px;
  line-height: 1.2;
  height: 100vh;
  background-image:
  linear-gradient(
      to right,
      #83e777 0%,
      #83e777 25%,
      #ebed1e 25%,
      #ebed1e 50%,
      #4cb1e7 50%,
      #4cb1e7 75%,
      #9f1110 75%,
      #9f1110 100%);
  background-size: 50% .8rem;
  background-repeat: repeat-x;
}
body {
  font-size: 1.4rem;
  height: 100vh;
}
.vl-rows {
    display: flex;
    flex-direction: column;
}
.vl-columns {
    display: flex;
    flex-direction: row;
}
