header.row
  .span2
    a(href='/')
      img(src='/images/logo.png', alt='VarnaLab')
  .span10
    ul.nav.nav-pills.pull-right
      li
        a(href='/', title='Site') Site
      li
        a(href='#members', title='Members') Members
      li
        a(href='#blogposts', title='Blogs') Blogs
      li
        a(href='#events', title='Events') Events
      li
        a(href='#transactions', title='Events') Transactions