header.row-fluid.vl-page-header
  h1.span2.vl-branding
    a(href='/')
      img(src='/images/logo.png', alt='VarnaLab')
  nav.span10.pull-right.vl-main-nav
    ul.nav.nav-pills
      li
        a(href='/admin', title='Админ')
          em
            img(src='/images/nav-button-admin.png', alt='Админ')
          span Админ
      li
        a(href='#members', title='Лабъри')
          em
            img(src='/images/nav-button-members.png', alt='Лабъри')
          span Лабъри
      li
        a(href='#blogposts', title='Блог')
          em
            img(src='/images/nav-button-blog.png', alt='Блог')
          span Блог
      li
        a(href='#events', title='Събития')
          em
            img(src='/images/nav-button-calendar.png', alt='Събития')
          span Събития
      li
        a(href='#transactions', title='Плащания')
          em
            img(src='/images/nav-button-transactions.png', alt='Плащания')
          span Плащания

  include ../../partials/authBtns
