section.member
    header
      img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=identicon&f=y', alt='')
      h4 Member name here
      p
        a(href='mailto:'+member.email) #{member.email}
    .info
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    footer
      button Edit