section.member
    header
        img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=identicon&f=y', alt='')
        h4 Member name 1
        p
          a(href='mailto:member@abv.bg') member@abv.bg
      .info
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      footer
        button Pay dues
section.member
  header
    img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y', alt='')
    h4 Member name 1
    p
      a(href='mailto:member@abv.bg') member@abv.bg
  .info
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  footer
    button Pay dues
section.member
  header
    img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&f=y', alt='')
    h4 Member name 1
    p
      a(href='mailto:member@abv.bg') member@abv.bg
  .info
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  footer
    button Pay dues
section.member
  header
    img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=wavatar&f=y', alt='')
    h4 Member name 1
    p
      a(href='mailto:member@abv.bg') member@abv.bg
  .info
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  footer
    button Pay dues
section.member
  header
    img(src='http://www.gravatar.com/avatar/00000000000000000000000000000000?d=retro&f=y', alt='')
    h4 Member name 1
    p
      a(href='mailto:member@abv.bg') member@abv.bg
  .info
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  footer
    button Pay dues
