tr
  td= model.get("title")
  td= model.getCreatorName()
  td= moment(model.get("startDateTime")).format("dddd, MMMM Do YYYY, h:mm:ss a")
  td
    button.js-edit(data-id= model.id) edit
    button.js-remove(data-id= model.id) X
