section Edit Blogpost
- if(!model.isNew())
  ul
    li#created created: #{moment(model.get("created")).format("dddd, MMMM Do YYYY, h:mm:ss a")}
    li#modified
      include ./modified
label title
input#title(type="text", value= model.get("title"))
label slug name
input#slug(type="text", value= model.get("slug"))
section Ingress
  #ingress
section Content
  #content
button#save save
section Uploads
  #fileupload
textarea#contentData(style="display: none")!= model.get('content')
textarea#ingressData(style="display: none")!= model.get('ingress')
