section
  h3.section-title
    span предстоящи събития
    small изминали 35 / предстоящи 14
  .section-item
    .section-date
      strong.date 07 Фев
      br
      | Четвъртък
      br
      | 20:00
    h2 Дискусия на тема електрически коли
    h5.section-description Автор: Иван Иванов Иванов
    article
      | По-конкретно става дума за конверсия на горивни автомобили в електромобили. Идеята е да направим първоначална среща във Варна лаб за събиране на интересуващи се.
    .section-nav
      a.btn.pull-left(href='#') Прочети повече
      .share-widget.pull-left share widget here
      br.clear
  hr
  .section-item
    .section-date
      strong.date 12 Фев
      br
      | Четвъртък
      br
      | 20:00
    h3 Настолни ролеви игри
    h5.section-description Автор: неизвестен
    .section-nav
      a.btn.pull-left(href='#') Прочети повече
      .share-widget.pull-left share widget here
      br.clear
  hr
  .section-item
    .section-date
      strong.date 22 Фев
      br
      | Четвъртък
      br
      | 20:00
    h3 Не се сърди човече
    h5.section-description Автор: неизвестен
    .section-nav
      a.btn.pull-left(href='#') Прочети повече
      .share-widget.pull-left share widget here
      br.clear
  hr
  a.pull-right(href='#')
    i.icon-plus-sign
    | Виж всички събития
  br.clearfix