section
  h1 FB authentication

  - if(!fbauthExpires)
    p Authenticating with facebook stores a long lived access_token used for events broadcasting
    p
      strong not having such fb access token will prevent your events to be send to
        a(href='https://www.facebook.com/groups/varnalab/')  https://www.facebook.com/groups/varnalab/
    p
      strong you should be a member of the group to be able to post ;)
    a(href='/api/fb/auth') authenticate with fb
  - else
    a(href='/api/fb/auth') re-authenticate with fb, current token expires #{fbauthExpires}
