form.form
  input(type="text", name="from", placeholder="asdasd")
  input(type="text", name="to", placeholder="asdasd")
  input(type="text", name="reason", placeholder="asdasd")
  input(type="text", name="amount", placeholder="asdasd")
  input(type="submit")