!!! 5
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title VarnaLab Admin
    //
       <link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
    link(href='/admin.bundle.css', rel='stylesheet', type='text/css')
    script(src="/js/jade.js")
    script(src="/admin.app.js")
    block scripts
  body
    .content
      .content-inner
        .container
          include ./partials/header
          .row
            .span9.currentView
              block currentView
