.teaser.teaser-contact-varnalab
  img.pull-left(src='/images/teaser-iwant-icon.png', alt='')
  p.teaser-text-with-icon
    | Искаш да научиш повече?
    br
    a.btn(href='https://groups.google.com/forum/#!forum/varna-lab', class='write_us', target="_blank") Пиши ни!
  br.clear