
.div.teaser-facebook-like-box
	div.fb-like-box(data-href="https://www.facebook.com/varnalab", data-width="270", data-show-faces="true", data-stream="true", data-shadow-border="true", data-header="true")
