footer#footer
      a(href='/', title="[ VarnaLab ] Varna's hackerspace")
        img(src='/images/varnalab-footer.png', alt=' [ VarnaLab ] ')
      hr
      | електронна поща и форум: 
      a(href="https://groups.google.com/forum/#!forum/varna-lab") varna-lab@googlegroups.com
      br
      | twitter:
      a(href='https://twitter.com/VarnaLab', title='Follow VarnaLab in Twitter') @varnalab
      br
      | irc: irc.freenode.net #varnalab
      br
      | адрес: ул. „Пенчо Славейков“ №50
      br
      .pull-right v#{version}