footer#footer
      a(href='#', title='')
        img(src='/images/varnalab-footer.png', alt='')
      hr
      | електронна поща и форум: varna-lab@googlegroups.com
      br
      | twitter:
      a(href='#', title='Follow VarnaLab in Twitter') @varnalab
      br
      | irc: irc.freenode.net #varnalab
      br
      | адрес: ул. Пенчо Славейков 50
      br
      .pull-right v#{version}