header.row
  .span2
    a(href='/')
      img(src='/images/logo.png', alt='VarnaLab')
  .span10
    ul.nav.nav-pills.pull-right
      li
        a(href='/about', title='За VarnaLab')
          em
            img(src='/images/nav-button-lab.png', alt='За VarnaLab')
          span За VarnaLab
      li
        a(href='/events', title='Събития')
          em
            img(src='/images/nav-button-calendar.png', alt='Събития')
          span Събития
      li
        a(href='/blogs', title='Какво ново?')
          em
            img(src='/images/nav-button-packman.png', alt='Какво ново?')
          span Какво ново?
      li
        a(href='#', title='Форум')
          em
            img(src='/images/nav-button-forum.png', alt='Форум')
          span Форум
      li
        a(href='#', title='Връзки')
          em
            img(src='/images/nav-button-links.png', alt='Връзки')
          span Връзки
      li
        a(href='/members', title='Лабъри')
          em
            img(src='/images/nav-button-members.png', alt='Лабъри')
          span Лабъри
      li
        a(href='#', title='Контакти')
          em
            img(src='/images/nav-button-contacts.png', alt='Контакти')
          span Контакти