span.st_facebook_large(displayText='Facebook')
span.st_twitter_large(displayText='Tweet')
span.st_googleplus_large(displayText='Google +')
span.st_pinterest_large(displayText='Pinterest')
span.st_email_large(displayText='Email')
span.st_sharethis_large(displayText='ShareThis')