.teaser.teaser-who-is-here
  img.pull-left(src='/images/teaser-whois-icon.png', alt='')
  p.teaser-text-with-icon
    strong Who is in VarnaLab?
    - for(var i = 0; i<whoisatvarnalab.length; i++)
      br
      | #{whoisatvarnalab[i].alias}
  br.clear