.teaser {
	margin: 0 0 15px 0;
	background: #f1f1f1;
	padding: 20px;
	border-left: solid 1px #cecfcf;
	border-right: solid 1px #cecfcf;
	border-bottom: solid 1px #757575;
	.teaser-text-with-icon {
		float: right;
		width: 150px;
	}
	.avatar {
		margin: 0 10px 10px 0;
	}
	hr {
		margin: 10px 0 10px 0;
	}
}
.teaser-background-1 {
	background-image: ~"url(/images/teaser-background-1.png)";
	background-repeat: no-repeat;
	background-position: bottom right;
}
.teaser-background-2 {
	background-image: ~"url(/images/teaser-background-2.png)";
	background-repeat: no-repeat;
	background-position: bottom right;
}