.content {
	width: 100%;
	background-image: ~"url(/images/content-background.jpg)";
	background-repeat: repeat-x;
}
.content-inner {
	background-image: ~"url(/images/content-inner.png)";
	background-repeat: no-repeat;
	background-position: center 11px;
}
.clear {
	clear: both;
}

@import "varnalab-header.less";
@import "varnalab-content.less";
@import "varnalab-teasers.less";
@import "varnalab-footer.less";
@import "varnalab-admin.less";