!!! 5
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title VarnaLab
    //
       <link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
    link(href='/style.css', rel='stylesheet', type='text/css')
  body
    .content
      .content-inner
        .container
          header
            a(href='#')
              img(src='img/logo.png', alt='VarnaLab')
            ul.nav.nav-pills.pull-right
              li
                .img-holder
                  img(src='img/nav-button-lab.png', alt='За VarnaLab')
                a(href='#', title='За VarnaLab') За VarnaLab
              li
                .img-holder
                  img(src='img/nav-button-calendar.png', alt='Събития')
                a(href='#', title='Събития') Събития
              li
                .img-holder
                  img(src='img/nav-button-packman.png', alt='Какво ново?')
                a(href='#', title='Какво ново?') Какво ново?
              li
                .img-holder
                  img(src='img/nav-button-forum.png', alt='Форум')
                a(href='#', title='Форум') Форум
              li
                .img-holder
                  img(src='img/nav-button-links.png', alt='Връзки')
                a(href='#', title='Връзки') Връзки
              li
                .img-holder
                  img(src='img/nav-button-members.png', alt='Лабъри')
                a(href='#', title='Лабъри') Лабъри
              li
                .img-holder
                  img(src='img/nav-button-contacts.png', alt='Контакти')
                a(href='#', title='Контакти') Контакти
          .row
            .span9
              section
                h3.section-title
                  span какво ново
                  small общо 45 статии
                .section-item
                  h1
                    | Какво ново из лабърските среди
                    h1
                      h5.section-description
                        | Публикувано на 14.02.2013 ago от
                        a(href='#') Kukov
                      article
                        | Мина доста време от последната публикация и реших да пусна малко прясна информация за това какво става около лаба. Вчера дори имаше бирка, на която обсъждахме до къде е стигнал лаба, как функционира и споделихме идеи за подобрението му ...
                      .section-nav
                        a.btn.pull-left(href='#') Прочети повече
                        .share-widget.pull-left share widget here
                        br.clear
                hr
                .row
                  .span4
                    .section-item
                      h3
                        | Честита нова година лабъри!
                        h3
                          h5.section-description
                            | Публикувано на 03.01.2013 ago от
                            a(href='#') Kukov
                          article
                            | Честита нова 2013 година на всички наши членове и милиони фенове. За много бири, както е прието да се казва. Бъдете здрави, ентусиазирани и креативни както през миналата година умножено поне по 2.
                          .section-nav
                            a.btn.pull-left(href='#') Прочети повече
                            .share-widget.pull-left share widget here
                            br.clear
                  .span4
                    .section-item
                      h3
                        | Подарък за лаба никога не е излишен
                        h3
                          h5.section-description
                            | Публикувано на 11.12.2012 ago от
                            a(href='#') Kukov
                          article
                            | Както може би знаете, лаба е една прекрасна организация, която се издържа от своите членове, чрез членски внос, който се събира всеки месец. Свободата е пълна и всеки може сам да реши какъв да бъде неговия членски внос, с отглед на това колко често идва в лаба. Приели сме нещо като санитарен минимум от 20 лева месечно.
                          .section-nav
                            a.btn.pull-left(href='#') Прочети повече
                            .share-widget.pull-left share widget here
                            br.clear
                hr
                a.pull-right(href='#')
                  i.icon-plus-sign
                  | Виж всички статии
              section
                h3.section-title
                  span предстоящи събития
                  small изминали 35 / предстоящи 14
                .section-item
                  .section-date
                    strong.date 07 Фев
                    br
                    | Четвъртък
                    br
                    | 20:00
                  h2 Дискусия на тема електрически коли
                  h5.section-description Автор: Иван Иванов Иванов
                  article
                    | По-конкретно става дума за конверсия на горивни автомобили в електромобили. Идеята е да направим първоначална среща във Варна лаб за събиране на интересуващи се.
                  .section-nav
                    a.btn.pull-left(href='#') Прочети повече
                    .share-widget.pull-left share widget here
                    br.clear
                hr
                .section-item
                  .section-date
                    strong.date 12 Фев
                    br
                    | Четвъртък
                    br
                    | 20:00
                  h3 Настолни ролеви игри
                  h5.section-description Автор: неизвестен
                  .section-nav
                    a.btn.pull-left(href='#') Прочети повече
                    .share-widget.pull-left share widget here
                    br.clear
                hr
                .section-item
                  .section-date
                    strong.date 22 Фев
                    br
                    | Четвъртък
                    br
                    | 20:00
                  h3 Не се сърди човече
                  h5.section-description Автор: неизвестен
                  .section-nav
                    a.btn.pull-left(href='#') Прочети повече
                    .share-widget.pull-left share widget here
                    br.clear
                hr
                a.pull-right(href='#')
                  i.icon-plus-sign
                  | Виж всички събития
                br.clearfix
            .span3
              .teaser.teaser-background-1
                img.pull-left(src='img/teaser-iwant-icon.png', alt='')
                p.teaser-text-with-icon
                  | Искаш да научиш повече за определена технология, език, или фреймуърк.?
                  br
                  br
                  a.btn(href='#') Пиши ни!
                br.clear
              .teaser.teaser-background-2
                img.pull-left(src='img/teaser-whois-icon.png', alt='')
                p.teaser-text-with-icon
                  strong Who is in VarnaLab?
                  br
                  | Server
                  br
                  | iPad-2032FG
                  br
                  | Boris-PC
                  br
                  | Ivan-laptop
                  br
                br.clear
              .teaser
                strong Лабъри
                hr
                img.avatar.pull-left(src='img/avatar.jpg', alt='avatar')
                strong Красимир Цонев
                hr
                | PHP, JavaScript, HTML, CSS, AS3
                br.clear
                hr
                a(href='#')
                  img(src='img/icon-fb.jpg', alt='')
                a(href='#')
                  img(src='img/icon-twitter.jpg', alt='')
                a(href='#')
                  img(src='img/icon-github.jpg', alt='')
                a(href='#')
                  img(src='img/icon-linkedin.jpg', alt='')
                a(href='#')
                  img(src='img/icon-coderbits.jpg', alt='')
                hr
                a(href='#')
                  i.icon-plus-sign
                  | Виж всички лабъри
              .teaser
                strong Подкрепи VarnaLab
                hr
                | paypal button here
              .teaser
                img(src='img/foursquare.png', alt='')
                hr
                | Mayor of VarnaLab is:
                a(href='#') Ivan Kukov
              .teaser
                | facebook widget here
              .teaser
                | twitter widget here
          footer
            a(href='#', title='')
              img(src='img/varnalab-footer.png', alt='')
            hr
            | електронна поща и форум: varna-lab@googlegroups.com
            br
            | twitter:
            a(href='#', title='Follow VarnaLab in Twitter') @varnalab
            br
            | irc: irc.freenode.net #varnalab
            br
            | адрес: ул. Пенчо Славейков 50
            br
