form.form
  input.input-xxlarge(type="text", name="from", placeholder="From")
  input.input-xxlarge(type="text", name="to", placeholder="To")
  input.input-xxlarge(type="text", name="reason", placeholder="Reason")
  input.input-xxlarge(type="text", name="amount", placeholder="Amount")
  input(type="submit")

  p exampl
  select.transaction-from
    option(value="1") a
    option(value="2") b
    option(value="3") c