doctype
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title VarnaLab
    link(href='/public/css/index.bundle.css', rel='stylesheet', type='text/css')

  body
    .content
      .content-inner
        .container
          include ./partials/header
          .row
            .span9
              block content
            .span3
              include ./widgets/contactUsTeaser
              include ./widgets/whoishere
              include ./widgets/foursquareTeaser
              include ./widgets/twitter-embedded-timeline-box.jade
              include ./widgets/facebook-like-box.jade
          include ./partials/footer
    div#fb-root
    script
      var switchTo5x=false;
    script(src="http://w.sharethis.com/button/buttons.js")
    script.
      stLight.options({publisher: "828242f5-b208-42f3-ad5c-45847cbe235f", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    block scripts
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49803702-1', 'varnalab.org');
      ga('send', 'pageview');