!!! 5
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title VarnaLab
    //
       <link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
    link(href='/bundle.css', rel='stylesheet', type='text/css')

    script
      var switchTo5x=false;
    script(src="http://w.sharethis.com/button/buttons.js")
    script
      stLight.options({publisher: "828242f5-b208-42f3-ad5c-45847cbe235f", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    block scripts
  body
    h1 Hello Test
    div#fb-root
    script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    .content
      .content-inner
        .container
          include ./partials/header
          .row
            .span9
              block content
            .span3
              include ./partials/twitter-embedded-timeline-box.jade
              include ./partials/facebook-like-box.jade
              include ./partials/contactUsTeaser
              include ./partials/whoishere
              include ./partials/randomMemberTeaser
              include ./partials/paypalButtonTeaser
              include ./partials/foursquareTeaser
          include ./partials/footer
