extends layout

block scripts
  script(src="/register.app.js")

block content
  .row-fluid
    .span12
      form
        h3 Create Moderator
        div
          input(type="email", name="email", placeholder="Email", required)
        div
          input(type="password", name='password', placeholder="Password", required)
        div
          input(type="submit", value="Create")

  