extends layout

block scripts
  script(src="/register.app.js")

block content
  section
    form.login_form
      fieldset
        legend register
        input(type="text", name="email", placeholder="email")
        input(type="password", name="password", placeholder="password")
        input(type="submit", value="register")
  