extends ../layout
block content
  section
    article
      h3 Какво е Варна Лаб?
      p Варна Лаб е част от мрежата на т.нар.
        a(href="https://en.wikipedia.org/wiki/Hackerspace")  hackerspaces

      blockquote
        ul
          li A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated
            | workspace where people with common interests, often in computers, technology, science,
            | digital art or electronic art, can meet, socialise and/or collaborate.
          li Hackerspaces can be viewed as open community labs incorporating elements of machine shops,
            | workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.

      p Според wiki страницата на всички hackerspaces
        a(href="http://hackerspaces.org/")  hackerspaces.org
        |  По света има около 1600 такива места, а в България са 5-6

      .hackermaps
        a(href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces", title="хакерспейси по света")
          img(src="/images/pages/hackerspacesWorldwide.jpg", alt="хакерспейси по света")

        a.bglabs(href="http://hackerspaces.org/wiki/Bulgaria", title="хакерспейси в България")
          img(src="/images/pages/hackerspacesBulgaria.jpg", alt="хакерспейси в България")

      h3 Каква е мисията на Варна Лаб?
      p Мисията на Варна Лаб е да бъде независимо физическо място, от хората за хората.
        br
        | Като независимо място Варна Лаб дава възможност за:
        ul
          li learning
          li co-working
          li teaching
          li gaming
          li hacking :P
          li and many other social activities

      h3 Kакво не е Варна Лаб?
      p

      h3 Мога ли да посетя Варна Лаб?
      p
      h3 Kой управлява Варна Лаб?
      p
      h3 Kакви хора мога да срещна в лаба?
      p
      h3 Как мога да се включа във Варна Лаб?
      p
        h4 Мога ли да инициирам събитие?
      p
      h3 За какво отиват парите от членския внос?




