extends ../layout
block content
  section
    article
      h3 Какво е Варна Лаб?
      p Варна Лаб е част от мрежата на т.нар.
        a(href="https://en.wikipedia.org/wiki/Hackerspace")  hackerspaces

      blockquote
        ul
          li A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated
            | workspace where people with common interests, often in computers, technology, science,
            | digital art or electronic art, can meet, socialise and/or collaborate.
          li Hackerspaces can be viewed as open community labs incorporating elements of machine shops,
            | workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.

      p Според wiki страницата на всички hackerspaces
        a(href="http://hackerspaces.org/")  hackerspaces.org
        |  По света има около 1600 такива места, а в България са 5-6

      .hackermaps
        a(href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces", title="хакерспейси по света")
          img(src="/images/pages/hackerspacesWorldwide.jpg", alt="хакерспейси по света")

        a.bglabs(href="http://hackerspaces.org/wiki/Bulgaria", title="хакерспейси в България")
          img(src="/images/pages/hackerspacesBulgaria.jpg", alt="хакерспейси в България")

      h3 Каква е мисията на Варна Лаб?
      p Мисията на Варна Лаб е да бъде независимо физическо място, от хората за хората.
        br
        | Като независимо място Варна Лаб дава възможност за:
        ul
          li learning
          li co-working
          li teaching
          li gaming
          li hacking :P
          li and many other social activities

      h3 Kакво не е Варна Лаб?
      p 
        ul
          li Варна Лаб не е компания
          li Варна Лаб не е продукт
          li Варна Лаб не е организация с комерсиална цел

      h3 Мога ли да посетя Варна Лаб?
      p Всеки може да посети Варна Лаб когато е отворен. Погледни 
        a(href="http://hq.varnalab.org") кой е там
        |  в момента.
      
      h3 Kой управлява Варна Лаб?
      p Няма конкретен човек, който да управлява Варна Лаб. 
        | Мястото се организира от неговите членове.

      h3 Kакви хора мога да срещна в лаба?
      p 
        ul
          li Geeks 
          li Nerds
          li IT professionals
          li Photographers
          li Students
          li Designers
          li Artists
          li Gamers 
          li and many more

      h3 Как мога да се включа във Варна Лаб?
      p
        | Всеки може да посети Варна Лаб , съоетветно човек може сам да определи 
        | за да участва дали да заплати членски внос или по друг начин 
        | който смята за подходящ

      h3 Как мога да платя членски внос?
      p 
        ul
          li Потърси Марта или Борис 
          li или ги остави на познат от лаба, 
          li или просто остави членския си внос в касичката с бележка с твоето име.
      
      h3 Колко е членския внос?
      p Всеки сам за себе си може да определи с колко може да помогне, няма 
        | нито минимум, нито максимум.
      
      h3 За какво отиват парите от членския внос?
      p Всичките финанси са 
        a(href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&single=true&gid=0&output=html") публични 
        | и събраните пари 
        | се използват за покриване на разходите на Варна Лаб
      
      h3 Мога ли да инициирам събитие?
      p Всеки, който има желание може да инициира събитие във Варна Лаб
      
      h3 Как да инициирам събитие?
      ol
        li Провери за свободни дати за твоето събитие
        li Запази си дата и час
          ul
            li за хората заплатили членски внос - добави събитието си към 
              a(href="javascript: alert('попитай за достъп')") календара
            li за не-членове - изпрати събитието си към 
              a(href="https://groups.google.com/forum/#!forum/varna-lab") форума