extends ../layout
block content
  section
    article
      h3 Какво е Лаб? 
      p Ето дефиницията цитирана от 
        a(href="http://initlab.org/about/") http://initlab.org/about/

      blockquote
        ul
          li физическо място , разполагащо с достатъчно пространство за провеждането 
            | на срещи на екипите, работещи по конкретни проекти;
          li пространство за спокойна, плодотворна и съзидателна работа, 
            | където да не се намесват разсейватели като съквартиранти/родители/половинки/колеги; 
          li място с кът за разпускане и стимулация на креативността; техническа инфраструктура ,
            | предоставяща свобода на действията при планирането и развитието на произволен проект; 
          li среда , събуждаща креативността у хората при взаимодействието им с хора (и други машини);
          li сцена , на която всеки може да бъде както учител, така и ученик, 
            | чувствайки се наистина значим в това, с което се занимава.

      p Това виждаме ние като наша крайна цел. Вероятно тя ще се променя в движение, 
        | ще се самоусъвършенства с времето и ще узрява успоредно с това, 
        | което ние ще реализираме на практика, така че не бихме отказали 
        | предложение за излизане от предначертания път, стига да не се губи посоката.

      p За да може обаче това да се случи е необходимо достатъчно хора 
        | да участват по един или друг начин... :)