extends ../layout
block content
  section
    article
      h3 Какво е ВарнаЛаб?
      p ВарнаЛаб е част от мрежата на т.нар.
        a(href="https://en.wikipedia.org/wiki/Hackerspace")  hackerspaces

      blockquote
        ul
          li A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated
            | workspace where people with common interests, often in computers, technology, science,
            | digital art or electronic art, can meet, socialise and/or collaborate.
          li Hackerspaces can be viewed as open community labs incorporating elements of machine shops,
            | workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.

      p Според wiki страницата на всички hackerspaces
        a(href="http://hackerspaces.org/")  hackerspaces.org
        |  По света има около 1600 такива места, а в България са 5-6

      .hackermaps
        a(href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces", title="хакерспейси по света")
          img(src="/images/pages/hackerspacesWorldwide.jpg", alt="хакерспейси по света")

        a.bglabs(href="http://hackerspaces.org/wiki/Bulgaria", title="хакерспейси в България")
          img(src="/images/pages/hackerspacesBulgaria.jpg", alt="хакерспейси в България")

      h3 Каква е мисията на ВарнаЛаб?
      p Мисията на ВарнаЛаб е да бъде независимо физическо място, от хората за хората.
        br
        | Като независимо място ВарнаЛаб дава възможност за:
        ul
          li обучения
          li споделено работно място
          li преподаване
          li игри
          li hacking :P
          li и други

      h3 Kакво не е ВарнаЛаб?
      p 
        ul
          li ВарнаЛаб не е компания
          li ВарнаЛаб не е продукт
          li ВарнаЛаб не е организация с комерсиална цел

      h3 Мога ли да посетя ВарнаЛаб?
      p Всеки може да посети ВарнаЛаб когато е отворен. Погледни&nbsp;
        a(href="#who-is-here") кой е там
        |  в момента.
      
      h3 Kой управлява ВарнаЛаб?
      p Няма конкретен човек, който да управлява ВарнаЛаб. 
        | Мястото се организира от неговите членове.

      h3 Kакви хора мога да срещна в лаба?
      p 
        ul
          li Geeks 
          li Nerds
          li IT професионалисти
          li Фотографи
          li Студенти
          li Дизайнери
          li Художници
          li Gamers 
          li и много други

      h3 Как мога да се включа във ВарнаЛаб?
      p
        | Чрез заплащане на членски внос и/или
        | чрез активно участие в дейностите на мястото например:
        ul
          li Организиране на събития/инициативи
          li Разпространение и популяризиране
          li Чистене :)
        | Пишете към <a href="https://groups.google.com/forum/#!forum/varna-lab">форума</a> за допълнителни идеи.

      h3 Как мога да платя членски внос?
      p 
        ul
          li Потърси Марта, Борис, Камен или Павел
          li или го остави на член на лаба, 
          li или го остави в касичката с бележка с твоето име.
      
      h3 Колко е членския внос?
      p Всеки сам избира с колко може да помогне, няма 
        | нито минимум, нито максимум.
        br
        | Обикновено между 20лв и 50лв
      
      h3 За какво отиват парите от членския внос?
      p Всичките финанси са 
        a(href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&single=true&gid=0&output=html") публични 
        | и се използват за покриване на разходите на ВарнаЛаб
      
      h3 Мога ли да инициирам събитие?
      p Да, всеки, който има желание може да инициира събитие във ВарнаЛаб
      
      h3 Как да инициирам събитие?
      ol
        li Провери за свободни дати за твоето събитие
        li Пиши на организаторите на събития във 
          a(href="https://groups.google.com/forum/#!forum/varna-lab") форума