extends ../layout
block content
  section
    article
      h3 Какво е Лаб?
      p Варна Лаб е част от мрежата на т.нар.
        a(href="https://en.wikipedia.org/wiki/Hackerspace")  hackerspaces

      blockquote
        ul
          li A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated
            | workspace where people with common interests, often in computers, technology, science,
            | digital art or electronic art, can meet, socialise and/or collaborate.
          li Hackerspaces can be viewed as open community labs incorporating elements of machine shops,
            | workshops and/or studios where hackers can come together to share resources and knowledge to build and make things.

      p Според wiki страницата на всички hackerspaces
        a(href="http://hackerspaces.org/")  hackerspaces.org
        |  По света има около 1600 такива места, а в България са 5-6

      .hackermaps
        a(href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces", title="хакерспейси по света")
          img(src="/images/pages/hackerspacesWorldwide.jpg", alt="хакерспейси по света")

        a.bglabs(href="http://hackerspaces.org/wiki/Bulgaria", title="хакерспейси в България")
          img(src="/images/pages/hackerspacesBulgaria.jpg", alt="хакерспейси в България")

