extends ../layout
block content
  h3 Свържете се с нас
  section.contacts
    .row
      dl
        dt.vl-term Wiki
        dd.vl-def.text
          a(href="https://wiki.varnalab.org") wiki.varnalab.org

        dt.vl-term Github
        dd.vl-def.text
          a(href="https://github.com/VarnaLab/varnalab.org") github.com/VarnaLab

        dt.vl-term Facebook
        dd.vl-def.text
          a(href="https://www.facebook.com/varnalab") facebook page
        dd.vl-def.text
          a(href="https://www.facebook.com/groups/varnalab/") facebook group

        dt.vl-term Google
        dd.vl-def.text
          a("https://groups.google.com/forum/#!forum/varna-lab") group
        dd.vl-def.text
          a.text(href="mailto:varna-lab@googlegroups.com") varna-lab@googlegroups.com

        dt.vl-term Twitter
        dd.vl-def.text
          a(href="https://twitter.com/VarnaLab") @VarnaLab

        dt.vl-term
          abbr(title="Internet Relay Chat") IRC
        dd.vl-def.text
          span.text irc.freenode.net #varnalab

        dt.vl-term Електронна поща
        dd.vl-def.text
          a(href="mailto:varna-lab@googlegroups.com") varna-lab@googlegroups.com


        dt.vl-term Адрес
        dd.vl-def.text ул. „Пенчо Славейков“ 50, Варна
        dd.vl-map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.6564747473317!2d27.90241961507726!3d43.21669408856521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4547a8cc9ba41%3A0xf9c0fd8622b636aa!2sVarnaLab!5e0!3m2!1sen!2sus!4v1486642501769")
