extends ../layout
block content
  section
    h3 адрес
    p ул. "Пенчо Славейков" 50, Варна
    h3 карта
    <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%9F%D0%B5%D0%BD%D1%87%D0%BE+%D0%A1%D0%BB%D0%B0%D0%B2%D0%B5%D0%B9%D0%BA%D0%BE%D0%B2+50,+%D0%92%D0%B0%D1%80%D0%BD%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;aq=0&amp;oq=%D1%83%D0%BB.+%D0%9F%D0%B5%D0%BD%D1%87%D0%BE+%D0%A1%D0%BB%D0%B0%D0%B2%D0%B5%D0%B9%D0%BA%D0%BE%D0%B2+50+,+%D0%92%D0%B0%D1%80%D0%BD%D0%B0&amp;sll=37.0625,-95.677068&amp;sspn=48.287373,107.138672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=ulitsa+Pencho+Slaveykov+50,+Varna,+Bulgaria&amp;ll=43.216534,27.904469&amp;spn=0.001368,0.003487&amp;z=18&amp;output=embed"></iframe>
    h3 електронна поща и форум: 
    p varna-lab@googlegroups.com
    h3 твитър: 
    p @varnalab
    h3 irc: 
    p irc.freenode.net #varnalab