extends ../layout
block content
  h3 Свържете се с нас
  section.contacts
    .row
      dl
        dt.vl-term Github
        dd.vl-def.text
          a(href="https://github.com/VarnaLab/varnalab.org") github.com/VarnaLab

        dt.vl-term Facebook
        dd.vl-def.text
          a(href="https://www.facebook.com/varnalab") facebook page
        dd.vl-def.text
          a(href="https://www.facebook.com/groups/varnalab/") facebook group

        dt.vl-term Google
        dd.vl-def.text
          a("https://groups.google.com/forum/#!forum/varna-lab") group
        dd.vl-def.text
          a.text(href="mailto:varna-lab@googlegroups.com") varna-lab@googlegroups.com

        dt.vl-term Twitter
        dd.vl-def.text
          a(href="https://twitter.com/VarnaLab") @VarnaLab

        dt.vl-term
          abbr(title="Internet Relay Chat") IRC
        dd.vl-def.text
          span.text irc.freenode.net #varnalab

        dt.vl-term Електронна поща
        dd.vl-def.text
          a(href="mailto:varna-lab@googlegroups.com") varna-lab@googlegroups.com


        dt.vl-term Адрес
        dd.vl-def.text ул. „Пенчо Славейков“ 50, Варна
        dd.vl-map
          iframe(src="http://maps.google.com/maps?f=d&source=s_d&saddr=%D0%92%D0%B0%D1%80%D0%BD%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&daddr=%D1%83%D0%BB.+%E2%80%9E%D0%9F%D0%B5%D0%BD%D1%87%D0%BE+%D0%A1%D0%BB%D0%B0%D0%B2%D0%B5%D0%B9%D0%BA%D0%BE%D0%B2%E2%80%9C+50,+%D0%92%D0%B0%D1%80%D0%BD%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&hl=en&geocode=FTlAkwIdjuGpASmh1_Oqi1OkQDF8i6VxHJQnVw%3BFTJvkwIdYMqpASlBusmMelSkQDGSnMmLc1JZ2A&aq=t&sll=43.210712,27.90714&sspn=0.015968,0.032916&mra=ltm&ie=UTF8&ll=43.210712,27.90714&spn=0.011841,0.006832&t=m&output=embed")
