extends ../layout
block content
  section
    ul
      li Бюро - малко	Божана
      li Столове - 2бр бели	Крум - EAST
      li Столове - 2бр кожени, със счупени налакътници	Крум - EAST
      li Стол - 1бр без облегалка	Кирил
      li Шкаф - 1бр 	Свилен
      li Масичка - малка	Свилен
      li Дъска	Свилен
      li Стари бюра - 3бр 	Икономически Университет Варна
      li Секции - 2бр	Икономически Университет Варна
      li Projector mount point	Алекс
      li Internet - spnet	Светослав Щерев
      li Projector - Добромир Енчев
