extends ../layout
block content
  section
    h3 Приятели
    ul
      li
        a(href="http://initlab.org") init Lab
      li
        a(href="http://burgaslab.org") Burgas Lab
      li
        a(href="http://hackafe.org") Hackafe

  section
    h3 Други
    ul
      li
        a(href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0Ald2w8OoVxhmdEo4MXQ2YnVlUW01ODZoRnVmMXNza2c&output=html") Хората с ключове
      li
        a(href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&single=true&gid=0&output=html") Членове и финансов отчет
      li
        a(href="https://spreadsheets1.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0Ald2w8OoVxhmdGZ1NHE2bWhMNHJsVDNuczFKRzF2THc&output=html") Дарения