extends ../layout
block content
  section
    ul
      li
        a(href="http://initlab.org") Init Lab
      li
        a(href="http://burgaslab.org") Burgas Lab
      li
        a(href="http://hackafe.org") Hackafe
      li
        a(href="/donations") Дарения
