.teaser.teaser-background-1
  img.pull-left(src='/img/teaser-iwant-icon.png', alt='')
  p.teaser-text-with-icon
    | Искаш да научиш повече за определена технология, език, или фреймуърк.?
    br
    br
    a.btn(href='#') Пиши ни!
  br.clear
.teaser.teaser-background-2
  img.pull-left(src='/img/teaser-whois-icon.png', alt='')
  p.teaser-text-with-icon
    strong Who is in VarnaLab?
    br
    | Server
    br
    | iPad-2032FG
    br
    | Boris-PC
    br
    | Ivan-laptop
    br
  br.clear