header
  a(href='/')
    img(src='/img/logo.png', alt='VarnaLab')
  ul.nav.nav-pills.pull-right
    li
      .img-holder
        img(src='/img/nav-button-lab.png', alt='За VarnaLab')
      a(href='#', title='За VarnaLab') За VarnaLab
    li
      .img-holder
        img(src='/img/nav-button-calendar.png', alt='Събития')
      a(href='#', title='Събития') Събития
    li
      .img-holder
        img(src='/img/nav-button-packman.png', alt='Какво ново?')
      a(href='#', title='Какво ново?') Какво ново?
    li
      .img-holder
        img(src='/img/nav-button-forum.png', alt='Форум')
      a(href='#', title='Форум') Форум
    li
      .img-holder
        img(src='/img/nav-button-links.png', alt='Връзки')
      a(href='#', title='Връзки') Връзки
    li
      .img-holder
        img(src='/img/nav-button-members.png', alt='Лабъри')
      a(href='#', title='Лабъри') Лабъри
    li
      .img-holder
        img(src='/img/nav-button-contacts.png', alt='Контакти')
      a(href='#', title='Контакти') Контакти