section Edit Event
label title
input#title(type="text", value= model.get("title"))

label starts
#startDateTime.input-append.date
  input(type="text", data-format="dd/MM/yyyy hh:mm")
  span.add-on
    i(data-time-icon="icon-time", data-date-icon="icon-calendar")

label ends
#endDateTime.input-append.date
  input(type="text", data-format="dd/MM/yyyy hh:mm")
  span.add-on
    i(data-time-icon="icon-time", data-date-icon="icon-calendar")

section Description
  #description
button#save save
textarea#descriptionData(style="display: none")!= model.get('description')
