section
  h4 Event Details

  label title
  input#title(type="text", value= model.get("title"))

  label starts
  #startDateTime.input-append.date
    input(type="text", data-format="dd/MM/yyyy hh:mm")
    span.add-on
      i(data-time-icon="icon-time", data-date-icon="icon-calendar")

  label ends
  #endDateTime.input-append.date
    input(type="text", data-format="dd/MM/yyyy hh:mm")
    span.add-on
      i(data-time-icon="icon-time", data-date-icon="icon-calendar")

section
  h4 Event Description
  #description

section
  h4 Broadcast
  p
    label(for="broadcastEvent")
      input#broadcastEvent(type='checkbox')
      |  broadcast Event

button#save save
textarea#descriptionData(style="display: none")!= model.get('description')
