section
  include ./transaction-form
  table
    thead
      tr
        th from
        th to
        th amount
        th reason
        th forDate
        th actions
    tbody.js-transactionsList
      each model in collection.models
        include ./transaction-item
