form.form
  label From
  input(type="text", name="from", placeholder="from")
  label to
  input(type="text", name="to", placeholder="to")
  label reason
  input(type="text", name="reason", placeholder="reason")
  label amount
  input(type="text", name="amount", placeholder="amount")
  label for date
  input#forDate(type="text")
  input(type="submit")
